@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .pause-animate{
        animation-play-state: paused;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms ease-in-out;
    }
}
   .service-card {
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .service-card.active {
        opacity: 1;
        transform: translateY(0);
    }